.grid-container {
    display: grid;
    grid-template-rows: repeat(6,50px);
    grid-template-columns: repeat(4,1fr);
    background: darkslategray;
    width: 260px;
    padding: 10px;
    border-radius: 10px;
    gap: 8px;
}
.display {
  grid-column: 1 / 5;
  background: black;
  color: white;
  font-size: 24px;
  text-align: right;
  padding: 15px;
}
.operator {
  background: #ff9800;
  color: white;
  text-align: center;
  padding-top: 15px;
}
.num {
    background: black;
    color: white;
    text-align: center;
    padding-top: 15px;
}
.zero {
    grid-column: 1 / span 2;
    background: black;
    color: white;
    padding-top: 15px;
    padding-left: 15px;
}